
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.stuckyNavBar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background: white;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 180px;
}


.mainContainer {
    font-family: "Prompt", sans-serif;
}

#search {
    width: 1000px;
    height: 30px;
    border: none; 
    border-bottom: 1px ridge black;
    padding: 0;
    text-align: center; 
    line-height: 30px; 
    box-sizing: border-box; 
    font-size: 16px;   
}

header h1 {
    text-align: center;
    margin:20px 0 20px 0 ;
    color: dodgerblue;
    font-size: 60px;
}

section {
    text-align: center;
}

.headSearch { 
    position: relative;
    right: 460px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}

.CardContainer {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin-top: 30px;
    
    
}

.MainPic {
width: 300px;
height: 200px;
border-radius: 20px;
margin-top: 30px;
}


.MorePic {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
}

.Information {
    margin-left:20px;
    
}

.Information, h1, p, a {
    margin-top: 5px;
    
}

.Tag {
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: underline;
    cursor: pointer;
    
}


